---
layout: page
lang: de
title: "Mark Leigh Blog"
description: "「Mark Leigh Trading Ausbildung」"
hide-in-nav: true
---
<div class="post-preview" style="margin-top: 20px;">
<!-- Erster Abschnitt - Video-Einbettungen -->
<div class="row mb-4">
<!-- Erstes Video -->
<div class="col-12 mb-3">
<div class="embed-responsive embed-responsive-16by9">
<iframe
class="embed-responsive-item"
src="https://www.youtube.com/embed/videoseries?list=PLYCU907hAzzC3cVLTZmvQWB4Ak6Q0D6IP&hl=de&cc_lang_pref=de&cc_load_policy=1"
title="YouTube-Playlist 1"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen>
</iframe>
</div>
<p class="text-left"><strong>Marktübersicht zur Mittagszeit</strong> bietet eine von Experten geleitete technische Analyse mit detaillierten Einblicken in Markttrends und wichtige Kursniveaus. Diese Videos helfen Ihnen, Kursbewegungen zu analysieren, Handelsmöglichkeiten zu erkennen und technische Strategien effektiv umzusetzen.</p>
</div>
<!-- Zweites Video -->
<div class="col-12 mb-3">
<div class="embed-responsive embed-responsive-16by9">
<iframe
class="embed-responsive-item"
src="https://www.youtube.com/embed/videoseries?list=PLYCU907hAzzDNZXxZgCMnheYFX34xsGL3&hl=de&cc_lang_pref=de&cc_load_policy=1"
title="YouTube-Playlist 2"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen>
</iframe>
</div>
<p class="text-left"><strong>Trade-Setup-Video</strong> analysiert die neuesten Markttrends und wichtige Kursniveaus für verschiedene Anlageklassen. Egal, ob Sie Anfänger oder erfahrener Trader sind – diese Analysen liefern wertvolle Einblicke für Ihre nächste Handelsentscheidung.</p>
</div>
</div>
</div>

{% for post in paginator.posts %}
{% if post.lang == 'de' %}
<div class="post-preview">
<a href="{{ post.url | prepend: site.baseurl }}">
<h2 class="post-title">
{{ post.title }}
</h2>
{% if post.subtitle %}
<h3 class="post-subtitle">
{{ post.subtitle }}
</h3>
{% endif %}
<div class="post-content-preview">
{{ post.content | strip_html | truncate:300 }}
</div>
</a>
<p class="post-meta">
Veröffentlicht am {{ post.date | date: "%d. %B %Y" }}
</p>