---
layout: page
title: "Archive"
description: "「Mark Leigh Trading Education」"
header-img: "img/home-bg.jpg"
header-mask: 0.3
multilingual: true
permalink: /archive/
---

<div class="archive-section">
  <h2>Daily Commentary</h2>
  <ul>
    {% assign report1_files = site.static_files | where_exp: "file", "file.path contains 'mark-report/daily1'" %}
    {% assign sorted_report1 = report1_files | sort: 'modified_time' %}
    {% for file in sorted_report1 %}
      <li><a href="{{ file.path }}" target="_blank">{{ file.name }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="archive-section">
  <h2>Daily Report</h2>
  <ul>
    {% assign report2_files = site.static_files | where_exp: "file", "file.path contains 'mark-report/daily2'" %}
    {% assign sorted_report2 = report2_files | sort: 'modified_time' %}
    {% for file in sorted_report2 %}
      <li><a href="{{ file.path }}" target="_blank">{{ file.name }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="archive-section">
  <h2>Weekly Review</h2>
  <ul>
    {% assign report3_files = site.static_files | where_exp: "file", "file.path contains 'mark-report/weekly'" %}
    {% assign sorted_report3 = report3_files | sort: 'modified_time' %}
    {% for file in sorted_report3 %}
      <li><a href="{{ file.path }}" target="_blank">{{ file.name }}</a></li>
    {% endfor %}
  </ul>
</div>
