---
layout: page
title: "Weekly Review"
nav-title: "Weekly"
description: "「Mark Leigh Trading Education」"
header-img: "img/home-bg.jpg"
header-mask: 0.3
multilingual: true
permalink: /weekly/
---

<div class="container">
    <h1>Weekly</h1>
    <hr>
    <div class="post-list">
        {% for post in site.posts %}
            {% if post.category == "Weekly" %}
                <div class="post-preview">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <h2>{{ post.title }}</h2>
                    </a>
                    <p class="post-meta">Posted on {{ post.date | date: "%B %-d, %Y" }}</p>
                </div>
                <hr>
            {% endif %}
        {% endfor %}
    </div>
</div>
