<!-- Navigation -->
{% if page.nav-style == "invert" or page.header-style == "text" %}
<nav class="navbar navbar-default navbar-custom navbar-fixed-top invert">
{% else %}
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
{% endif %}
<div class="container-fluid">
    <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            {% if site.data.titles[site.lang] %}
                {{ site.data.titles[site.lang].navbar_brand }}
            {% else %}
                {{ site.title }}  <!-- Fallback to the default site title if no translation is found -->
            {% endif %}
        </a>
    </div>

    <div id="markblog_navbar">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}/">{{ site.data.menu[site.lang][0].title | default: 'Home' }}</a>
                </li>

                {% assign current_lang = page.lang | default: site.lang %}
                {% for item in site.data.menu[current_lang] %}
                    <li>
                        <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
                    </li>
                {% endfor %}

                <li class="languages-icon">
                    <a href="javascript:void(0)" id="language-toggle">
                        <i class="fa fa-globe fa-2x"></i> 
                        <span class="language-label">
                            {% if page.url contains '/es/' %}
                            Español
                            {% elsif page.url contains '/fr/' %}
                            Français
                            {% else %}
                            English
                            {% endif %}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</nav>
