<!-- Navigation -->
{% if page.nav-style == "invert" or page.header-style == "text" %}
<nav class="navbar navbar-default navbar-custom navbar-fixed-top invert">
{% else %}

<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
{% endif %}
<div class="container-fluid">
    <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <div id="markblog_navbar">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% assign current_lang = page.lang | default: site.lang %}
                {% for item in site.data.menu[current_lang] %}
                    <li>
                        <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
                    </li>
                {% endfor %}

                <li class="languages-icon">
                    <a href="javascript:void(0)" id="language-toggle">
                        <i class="fa fa-globe fa-2x"></i> 
                        <span class="language-label">
                            {% if page.url contains '/es/' %}
                              Español
                            {% elsif page.url contains '/zh-cn/' %}
                              简体中文
                            {% elsif page.url contains '/zh-tw/' %}
                              繁體中文
                            {% elsif page.url contains '/ar/' %}
                              العربية
                            {% elsif page.url contains '/fr/' %}
                              Français
                            {% elsif page.url contains '/de/' %}
                              Deutsch
                            {% elsif page.url contains '/pt-br/' %}
                              Português-br
                            {% elsif page.url contains '/tr/' %}
                              Türkçe
                            {% elsif page.url contains '/ja/' %}
                              日本語
                            {% elsif page.url contains '/ko/' %}
                              한국어
                            {% else %}
                              English
                            {% endif %}
                        </span>
                    </a>
                    <!-- Language Dropdown Menu -->
                    <ul id="language-menu" style="display:none;">
                        {% assign languages = "en,es,zh-cn,zh-tw,ar,fr,de,pt-br,tr,ja,ko" | split: "," %}
                        {% assign language_names = "English,Español,简体中文,繁體中文,العربية,Français,Deutsch,Português-br,Türkçe,日本語,한국어" | split: "," %}

                        {% for lang in languages %}
                            {% if lang != 'en' %}
                                <!-- Exclude English when on English page -->
                                <li><a href="/{{ lang }}/index.html">{{ language_names[forloop.index0] }}</a></li>
                            {% elsif page.url contains '/en/' %}
                                <!-- Skip the English language option for the English page -->
                                {% continue %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</nav>


<script>
    // Custom Navbar toggle behavior
    var $body = document.body;
    var $toggle = document.querySelector('.navbar-toggle');
    var $navbar = document.querySelector('#markblog_navbar');
    var $collapse = document.querySelector('.navbar-collapse');
    var $languageToggle = document.getElementById('language-toggle');
    var $languageMenu = document.getElementById('language-menu');

    var __markNav__ = {
        close: function () {
            $navbar.className = " ";
            setTimeout(function () {
                if ($navbar.className.indexOf('in') < 0) {
                    $collapse.style.height = "0px"
                }
            }, 400)
        },
        open: function () {
            $collapse.style.height = "auto"
            $navbar.className += " in";
        }
    }

    // Bind Event to the language-toggle button
    $languageToggle.addEventListener('click', function (e) {
        // Prevent the menu from closing when clicking inside
        e.stopPropagation();
        // Toggle the visibility of the language menu
        if ($languageMenu.style.display === 'none' || $languageMenu.style.display === '') {
            $languageMenu.style.display = 'block';
        } else {
            $languageMenu.style.display = 'none';
        }
    });

    // Bind Event for closing the language menu when clicking outside of it
    document.addEventListener('click', function (e) {
        if (!e.target.closest('#language-toggle')) {
            $languageMenu.style.display = 'none';
        }
    });

    // Bind Event for the navbar toggle
    $toggle.addEventListener('click', function (e) {
        if ($navbar.className.indexOf('in') > 0) {
            __markNav__.close()
        } else {
            __markNav__.open()
        }
    });

    document.addEventListener('click', function (e) {
        if (e.target == $toggle) return;
        if (e.target.className == 'icon-bar') return;
        __markNav__.close();
    });
</script>
