<section class="visible-md visible-lg">
  <hr>
  <h5>
    <a href="{{ site.baseurl }}{% if page.lang == 'en' %}/about/
               {% elsif page.lang == 'es' %}/es/about/
               {% elsif page.lang == 'zh-cn' %}/zh-cn/about/
               {% elsif page.lang == 'zh-tw' %}/zh-tw/about/
               {% elsif page.lang == 'ar' %}/ar/about/
               {% elsif page.lang == 'fr' %}/fr/about/
               {% elsif page.lang == 'de' %}/de/about/
               {% elsif page.lang == 'pt-br' %}/pt-br/about/
               {% elsif page.lang == 'tr' %}/tr/about/
               {% elsif page.lang == 'ja' %}/ja/about/
               {% elsif page.lang == 'ko' %}/ko/about/
               {% else %}/about/
               {% endif %}">
      {% if page.lang == "en" %} ABOUT ME
      {% elsif page.lang == "es" %} SOBRE MÍ
      {% elsif page.lang == "zh-cn" %} 关于我
      {% elsif page.lang == "zh-tw" %} 關於我
      {% elsif page.lang == "ar" %} معلومات عني
      {% elsif page.lang == "fr" %} À PROPOS DE MOI
      {% elsif page.lang == "de" %} ÜBER MICH
      {% elsif page.lang == "pt-br" %} SOBRE MIM
      {% elsif page.lang == "tr" %} HAKKIMDA
      {% elsif page.lang == "ja" %} 私について
      {% elsif page.lang == "ko" %} 내 소개
      {% else %} ABOUT ME
      {% endif %}
    </a>
  </h5>
  <div class="short-about">
    {% if site.sidebar-avatar %}
    <img src="{{ site.sidebar-avatar }}" />
    {% endif %}
    {% if site.sidebar-about-description %}
    <p>{{ site.sidebar-about-description }}</p>
    {% endif %}
    <!-- SNS Link -->
    {% include sns-links.html %}
  </div>
</section>
