---
layout: page
lang: zh-cn
title: "每日市场评论"
nav-title: "市场评论"
description: "{{ site.titles.zh_cn.commentary_description }}"
permalink: /zh-cn/commentary/
---

<hr>
<div class="post-list">
  {% assign commentary_posts = site.posts | where: "category", "commentary" | where: "lang", "zh-cn" %}
  {% for post in commentary_posts %}
    <div class="post-preview">
      <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">{{ post.title }}</h2>
        {% if post.subtitle %}
          <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        {% endif %}
        <div class="post-content-preview">
          {{ post.content | strip_html | truncate: 300 }}
        </div>
      </a>
      <p class="post-meta">发表于 {{ post.date | date: "%B %-d, %Y" }}</p>
    </div>
    <hr>
  {% endfor %}
</div>
