---
layout: page
lang: zh-cn
title: "马克-李 的博客"
description: "「Mark Leigh 马克-李 交易教学」"
hide-in-nav: true
---

<div class="post-preview" style="margin-top: 20px;">
  <!-- 第一部分 - 视频嵌入 -->
  <div class="row mb-4">
    <!-- 第一个视频 -->
    <div class="col-12 mb-3">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/videoseries?list=PLYCU907hAzzC3cVLTZmvQWB4Ak6Q0D6IP&hl=zh-CN&cc_lang_pref=zh-CN&cc_load_policy=1"
          title="YouTube 播放列表 1"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
        </iframe>
      </div>
      <p class="text-left">
        <strong>市场午间概览</strong> 提供专家技术分析，深入分析市场趋势和关键水平。这些视频旨在帮助您了解如何分析价格波动、识别交易机会并在实时市场条件下有效应用技术策略。
      </p>
    </div>
    <!-- 第二个视频 -->
    <div class="col-12 mb-3">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/videoseries?list=PLYCU907hAzzDNZXxZgCMnheYFX34xsGL3&hl=zh-CN&cc_lang_pref=zh-CN&cc_load_policy=1"
          title="YouTube 播放列表 2"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
        </iframe>
      </div>
      <p class="text-left">
        <strong>交易设置视频</strong> 解析最新的市场趋势和需要关注的关键水平。无论您是初学者还是有经验的交易者，您都会找到有价值的见解来帮助指导您的下一笔交易。
      </p>
    </div>
  </div>
</div>

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'zh-cn' %}
                {{ post.content | strip_html | truncate:500 }}
            {% else %}
                {{ post.content | strip_html | truncate:300 }}
            {% endif %}
        </div>
    </a>
<p class="post-meta">
     发布于 {{ post.date | date: "%Y年%-m月%-d日" }}
 </p>
</div>
<hr>
{% endfor %}

<!-- 分页 -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; 较新的文章</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">较旧的文章 &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
