---
layout: page
lang: es
title: "Mark Leigh Blog"
description: "?Educaci?n en Trading de Mark Leigh?"
hide-in-nav: true
---
<div class="post-preview" style="margin-top: 20px;">
<!-- First Block - Video Embeds -->
<div class="row mb-4">
<!-- First Video -->
<div class="col-12 mb-3">
<div class="embed-responsive embed-responsive-16by9">
<iframe
class="embed-responsive-item"
src="https://www.youtube.com/embed/videoseries?list=PLYCU907hAzzC3cVLTZmvQWB4Ak6Q0D6IP&hl=es&cc_lang_pref=es&cc_load_policy=1"
title="YouTube playlist 1"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen>
</iframe>
</div>
<p class="text-left">El an?lisis de mercado a mediod?a proporciona un an?lisis t?cnico realizado por expertos, ofreciendo una visi?n profunda de las tendencias del mercado y los niveles clave. Estos videos est?n dise?ados para ayudarte a comprender c?mo analizar los movimientos de precios, identificar oportunidades de trading y aplicar estrategias t?cnicas de manera efectiva en condiciones de mercado en tiempo real.</p>
</div>
<!-- Second Video -->
<div class="col-12 mb-3">
<div class="embed-responsive embed-responsive-16by9">
<iframe
class="embed-responsive-item"
src="https://www.youtube.com/embed/videoseries?list=PLYCU907hAzzDNZXxZgCMnheYFX34xsGL3&hl=es&cc_lang_pref=es&cc_load_policy=1"
title="YouTube playlist 2"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen>
</iframe>
</div>
<p class="text-left">El video Trade Setup desglosa las ?ltimas tendencias del mercado y los niveles clave a seguir en varios activos. Ya seas un principiante o un trader experimentado, encontrar?s valiosos conocimientos para guiar tu pr?xima operaci?n.</p>
</div>
</div>
</div>

<div class="post-list">
{% assign es_posts = site.posts | where: "lang", "es" %}
{% for post in es_posts limit: 6 %}
<div class="post-preview">
<a href="{{ post.url | prepend: site.baseurl }}">
<h2 class="post-title">{{ post.title }}</h2>
{% if post.subtitle %}
<h3 class="post-subtitle">{{ post.subtitle }}</h3>
{% endif %}
<div class="post-content-preview">
{{ post.content | strip_html | truncate: 300 }}
</div>
</a>
<p class="post-meta">Publicado el {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}
</div>
</p>