---
layout: page
lang: pt-br
title: "Blog de Mark Leigh"
description: "?Educa??o em Trading de Mark Leigh?"
hide-in-nav: true
---
<div class="post-preview" style="margin-top: 20px;">
<!-- First Block - Video Embeds -->
<div class="row mb-4">
<!-- First Video -->
<div class="col-12 mb-3">
<div class="embed-responsive embed-responsive-16by9">
<iframe
class="embed-responsive-item"
src="https://www.youtube.com/embed/videoseries?list=PLYCU907hAzzC3cVLTZmvQWB4Ak6Q0D6IP&hl=pt&cc_lang_pref=pt&cc_load_policy=1"
title="Playlist do YouTube 1"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen>
</iframe>
</div>
<p class="text-left">A Vis?o Geral do Mercado ao Meio-Dia fornece an?lises t?cnicas lideradas por especialistas, oferecendo insights detalhados sobre tend?ncias do mercado e n?veis-chave. Esses v?deos foram projetados para ajud?-lo a entender como analisar movimentos de pre?os, identificar oportunidades de negocia??o e aplicar estrat?gias t?cnicas de forma eficaz em condi??es de mercado em tempo real.</p>
</div>
<!-- Second Video -->
<div class="col-12 mb-3">
<div class="embed-responsive embed-responsive-16by9">
<iframe
class="embed-responsive-item"
src="https://www.youtube.com/embed/videoseries?list=PLYCU907hAzzDNZXxZgCMnheYFX34xsGL3&hl=pt&cc_lang_pref=pt&cc_load_policy=1"
title="Playlist do YouTube 2"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen>
</iframe>
</div>
<p class="text-left">O v?deo de Configura??o de Negocia??o analisa as ?ltimas tend?ncias do mercado e os principais n?veis a serem observados em v?rios ativos. Seja voc? um iniciante ou um trader experiente, encontrar? insights valiosos para orientar sua pr?xima negocia??o.</p>
</div>
</div>
</div>

<div class="post-list">
{% assign en_posts = site.posts | where: "lang", "pt-br" %}
{% for post in en_posts limit: 6 %}
<div class="post-preview">
<a href="{{ post.url | prepend: site.baseurl }}">
<h2 class="post-title">{{ post.title }}</h2>
{% if post.subtitle %}
<h3 class="post-subtitle">{{ post.subtitle }}</h3>
{% endif %}
<div class="post-content-preview">
{{ post.content | strip_html | truncate: 300 }}
</div>
</a>
<p class="post-meta">Publicado em {{ post.date | date: "%d de %B de %Y" }}</p>
</div>
<hr>
{% endfor %}
</div>
</p>