---
layout: page
lang: ko
title: "마크 리 블로그"
description: "「마크 리의 트레이딩 교육」"
hide-in-nav: true
---
<div class="post-preview" style="margin-top: 20px;">
<!-- First Block - Video Embeds -->
<div class="row mb-4">
<!-- First Video -->
<div class="col-12 mb-3">
<div class="embed-responsive embed-responsive-16by9">
<iframe
class="embed-responsive-item"
src="https://www.youtube.com/embed/videoseries?list=PLYCU907hAzzC3cVLTZmvQWB4Ak6Q0D6IP&hl=ko&cc_lang_pref=ko&cc_load_policy=1"
title="유튜브 재생목록 1"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen>
</iframe>
</div>
<p class="text-left">정오 시장 개요에서는 전문가가 주도하는 기술 분석을 통해 시장 동향과 주요 수준에 대한 심층적인 통찰을 제공합니다. 이 동영상은 가격 움직임을 분석하고, 거래 기회를 식별하며, 실시간 시장 상황에서 효과적으로 기술적 전략을 적용하는 방법을 배우는 데 도움을 주기 위해 설계되었습니다.</p>
</div>
<!-- Second Video -->
<div class="col-12 mb-3">
<div class="embed-responsive embed-responsive-16by9">
<iframe
class="embed-responsive-item"
src="https://www.youtube.com/embed/videoseries?list=PLYCU907hAzzDNZXxZgCMnheYFX34xsGL3&hl=ko&cc_lang_pref=ko&cc_load_policy=1"
title="유튜브 재생목록 2"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen>
</iframe>
</div>
<p class="text-left">거래 설정 비디오는 다양한 자산의 최신 시장 동향과 주목해야 할 주요 수준을 분석합니다. 초보자든 숙련된 트레이더든, 다음 거래를 위한 귀중한 인사이트를 얻을 수 있습니다.</p>
</div>
</div>
</div>

<h2 class="most-updated-title"><strong>최신 게시물</strong></h2>
<div class="post-list">
{% assign ko_posts = site.posts | where: "lang", "ko" %}
{% for post in ko_posts limit: 6 %}
<div class="post-preview">
<a href="{{ post.url | prepend: site.baseurl }}">
<h2 class="post-title">{{ post.title }}</h2>
{% if post.subtitle %}
<h3 class="post-subtitle">{{ post.subtitle }}</h3>
{% endif %}
<div class="post-content-preview">
{{ post.content | strip_html | truncate: 300 }}
</div>
</a>
<p class="post-meta">게시일 {{ post.date | date: "%Y년%-m월%-d일" }}</p>
</div>
<hr>
{% endfor %}
</div>