---
layout: page
lang: zh-tw
title: "每日報告"
nav-title: "市場報告"
description: "“Mark Leigh 馬克-李 交易教學”"
permalink: /zh-tw/report/
---
<hr>
<div class="post-list">
{% assign zh-tw-report_posts = site.posts | where: "category", "report" | where: "lang", "zh-tw" %}
{% for post in zh-tw-report_posts %}
<div class="post-preview">
<a href="{{ post.url | prepend: site.baseurl }}">
<h2 class="post-title">{{ post.title }}</h2>
{% if post.subtitle %}
<h3 class="post-subtitle">{{ post.subtitle }}</h3>
{% endif %}
<div class="post-content-preview">
{{ post.content | strip_html | truncate: 200 }}
</div>
</a>
<p class="post-meta">發布於 {{ post.date | date: "%Y年%-m月%-d日" }}</p>
</div>
<hr>
{% endfor %}
</div>