---
layout: page
lang: fr
title: "commentaire quotidien"
nav-title: "Commentaire"
description: "?Mark Leigh Trading Education?"
permalink: /fr/commentary/
---
<hr>
<div class="post-list">
{% assign fr-commentary_posts = site.posts | where: "category", "commentary" | where: "lang", "fr" %}
{% for post in fr-commentary_posts %}
<div class="post-preview">
<a href="{{ post.url | prepend: site.baseurl }}">
<h2 class="post-title">{{ post.title }}</h2>
{% if post.subtitle %}
<h3 class="post-subtitle">{{ post.subtitle }}</h3>
{% endif %}
<div class="post-content-preview">
{{ post.content | strip_html | truncate: 300 }}
</div>
</a>
<p class="post-meta">Publi? le {{ post.date | date: "%d %B, %Y" }}</p>
</div>
<hr>
{% endfor %}
</div>