---
layout: page
lang: fr
title: "Blog de Mark Leigh"
description: "??ducation au trading de Mark Leigh?"
hide-in-nav: true
---
<div class="post-preview" style="margin-top: 20px;">
<!-- First Block - Video Embeds -->
<div class="row mb-4">
<!-- First Video -->
<div class="col-12 mb-3">
<div class="embed-responsive embed-responsive-16by9">
<iframe
class="embed-responsive-item"
src="https://www.youtube.com/embed/videoseries?list=PLYCU907hAzzC3cVLTZmvQWB4Ak6Q0D6IP&hl=fr&cc_lang_pref=fr&cc_load_policy=1"
title="Playlist YouTube 1"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen>
</iframe>
</div>
<p class="text-left">L'aper?u du march? de la mi-journ?e fournit une analyse technique men?e par des experts, offrant des informations approfondies sur les tendances du march? et les niveaux cl?s. Ces vid?os sont con?ues pour vous aider ? comprendre comment analyser les mouvements de prix, identifier les opportunit?s de trading et appliquer efficacement des strat?gies techniques en temps r?el.</p>
</div>
<!-- Second Video -->
<div class="col-12 mb-3">
<div class="embed-responsive embed-responsive-16by9">
<iframe
class="embed-responsive-item"
src="https://www.youtube.com/embed/videoseries?list=PLYCU907hAzzDNZXxZgCMnheYFX34xsGL3&hl=fr&cc_lang_pref=fr&cc_load_policy=1"
title="Playlist YouTube 2"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen>
</iframe>
</div>
<p class="text-left">La vid?o sur la configuration des trades d?compose les derni?res tendances du march? et les niveaux cl?s ? surveiller sur divers actifs. Que vous soyez d?butant ou trader exp?riment?, vous y trouverez des informations pr?cieuses pour orienter vos prochaines d?cisions de trading.</p>
</div>
</div>
</div>

<div class="post-list">
{% assign en_posts = site.posts | where: "lang", "fr" %}
{% for post in en_posts limit: 6 %}
<div class="post-preview">
<a href="{{ post.url | prepend: site.baseurl }}">
<h2 class="post-title">{{ post.title }}</h2>
{% if post.subtitle %}
<h3 class="post-subtitle">{{ post.subtitle }}</h3>
{% endif %}
<div class="post-content-preview">
{{ post.content | strip_html | truncate: 300 }}
</div>
</a>
<p class="post-meta">Publi? le {{ post.date | date: "%d %B, %Y" }}</p>
</div>
<hr>
{% endfor %}
</div>
</p>