---
layout: page
lang: fr
title: "Rapport quotidien"
nav-title: "Rapport"
description: "「Éducation au trading de Mark Leigh」"
permalink: /fr/report/
---
<hr>
<div class="post-list">
{% assign fr-report_posts = site.posts | where: "category", "report" | where: "lang", "fr" %}
{% for post in fr-report_posts %}
<div class="post-preview">
<a href="{{ post.url | prepend: site.baseurl }}">
<h2 class="post-title">{{ post.title }}</h2>
{% if post.subtitle %}
<h3 class="post-subtitle">{{ post.subtitle }}</h3>
{% endif %}
<div class="post-content-preview">
{{ post.content | strip_html | truncate: 300 }}
</div>
</a>
<p class="post-meta">Publié le {{ post.date | date: "%d %B, %Y" }}</p>
</div>
<hr>
{% endfor %}
</div>