---
layout: page
lang: ja
title: "マーク・リーのブログ"
description: "「マーク・リーのトレーディング教育」"
hide-in-nav: true
---
<div class="post-preview" style="margin-top: 20px;">
<!-- First Block - Video Embeds -->
<div class="row mb-4">
<!-- First Video -->
<div class="col-12 mb-3">
<div class="embed-responsive embed-responsive-16by9">
<iframe
class="embed-responsive-item"
src="https://www.youtube.com/embed/videoseries?list=PLYCU907hAzzC3cVLTZmvQWB4Ak6Q0D6IP&hl=ja&cc_lang_pref=ja&cc_load_policy=1"
title="YouTubeプレイリスト1"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen>
</iframe>
</div>
<p class="text-left">昼のマーケット概況では、専門家によるテクニカル分析を提供し、市場のトレンドや重要なレベルについて詳しく解説します。これらの動画は、価格の動きを分析し、トレードのチャンスを見極め、リアルタイムの市場状況に応じて戦略を適用する方法を学ぶために設計されています。</p>
</div>
<!-- Second Video -->
<div class="col-12 mb-3">
<div class="embed-responsive embed-responsive-16by9">
<iframe
class="embed-responsive-item"
src="https://www.youtube.com/embed/videoseries?list=PLYCU907hAzzDNZXxZgCMnheYFX34xsGL3&hl=ja&cc_lang_pref=ja&cc_load_policy=1"
title="YouTubeプレイリスト2"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen>
</iframe>
</div>
<p class="text-left">トレードセットアップ動画では、市場の最新トレンドと注目すべき重要なレベルを分析します。初心者から上級者まで、次のトレードの指針となる貴重な洞察が得られます。</p>
</div>
<!-- 第三の動画 -->
<div class="col-12 mb-3">
<div class="embed-responsive embed-responsive-16by9">
<iframe
class="embed-responsive-item"
src="https://www.youtube.com/embed/videoseries?list=PLYCU907hAzzDNZXxZgCMnheYFX34xsGL3&hl=ja&cc_lang_pref=ja&cc_load_policy=1"
title="YouTube プレイリスト 3"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen>
</iframe>
</div>
<p class="text-left">FXメジャーアップデートで市場と同期を取りましょう。米ドル指数（DXY）およびEUR/USD、GBP/USD、USD/JPY、USD/CADなどの主要通貨ペアに関する日々のテクニカル分析を提供します。Markによる重要な水準、チャート設定、プライスアクションのヒントを得て、取引の自信を高めましょう。</p>
</div>

</div>
</div>

<div class="post-list">
{% assign ja_posts = site.posts | where: "lang", "ja" %}
{% for post in ja_posts limit: 6 %}
<div class="post-preview">
<a href="{{ post.url | prepend: site.baseurl }}">
<h2 class="post-title">{{ post.title }}</h2>
{% if post.subtitle %}
<h3 class="post-subtitle">{{ post.subtitle }}</h3>
{% endif %}
<div class="post-content-preview">
{{ post.content | strip_html | truncate: 300 }}
</div>
</a>
<p class="post-meta">投稿日 {{ post.date | date: "%Y年%-m月%-d日" }}</p>
</div>
<hr>
{% endfor %}
</div>
</p>