---
layout: page
lang: ja
title: "日報"
nav-title: "市場レポート"
description: "「Mark Leigh Trading Education」"
permalink: /ja/report/
---
<hr>
<div class="post-list">
{% assign report_posts = site.posts | where: "category", "report" | where: "lang", "ja" %}
{% for post in report_posts %}
<div class="post-preview">
<a href="{{ post.url | prepend: site.baseurl }}">
<h2 class="post-title">{{ post.title }}</h2>
{% if post.subtitle %}
<h3 class="post-subtitle">{{ post.subtitle }}</h3>
{% endif %}
<div class="post-content-preview">
{{ post.content | strip_html | truncate: 300 }}
</div>
</a>
<p class="post-meta">投稿日 {{ post.date | date: "%Y年%-m月%-d日" }}</p>
</div>
<hr>
{% endfor %}
</div>