---
layout: page
lang: tr
title: "Mark Leigh Blog"
description: "?Mark Leigh Ticaret E?itimi?"
hide-in-nav: true
---
<div class="post-preview" style="margin-top: 20px;">
<!-- First Block - Video Embeds -->
<div class="row mb-4">
<!-- First Video -->
<div class="col-12 mb-3">
<div class="embed-responsive embed-responsive-16by9">
<iframe
class="embed-responsive-item"
src="https://www.youtube.com/embed/videoseries?list=PLYCU907hAzzC3cVLTZmvQWB4Ak6Q0D6IP&hl=tr&cc_lang_pref=tr&cc_load_policy=1"
title="YouTube oynatma listesi 1"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen>
</iframe>
</div>
<p class="text-left">??le piyasas? de?erlendirmesi, piyasa e?ilimleri ve kilit seviyeler hakk?nda derinlemesine i?g?r?ler sunan uzman liderli?inde teknik analiz sa?lar. Bu videolar, fiyat hareketlerini analiz etmeyi, ticaret f?rsatlar?n? belirlemeyi ve teknik stratejileri ger?ek piyasa ko?ullar?nda etkili bir ?ekilde uygulamay? ??renmenize yard?mc? olmak i?in tasarlanm??t?r.</p>
</div>
<!-- Second Video -->
<div class="col-12 mb-3">
<div class="embed-responsive embed-responsive-16by9">
<iframe
class="embed-responsive-item"
src="https://www.youtube.com/embed/videoseries?list=PLYCU907hAzzDNZXxZgCMnheYFX34xsGL3&hl=tr&cc_lang_pref=tr&cc_load_policy=1"
title="YouTube oynatma listesi 2"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen>
</iframe>
</div>
<p class="text-left">Trade Setup videosu, ?e?itli varl?klardaki en son piyasa trendlerini ve izlenmesi gereken kilit seviyeleri analiz eder. ?ster acemi ister deneyimli bir yat?r?mc? olun, bir sonraki i?leminize rehberlik edecek de?erli i?g?r?ler bulacaks?n?z.</p>
</div>
</div>
</div>

<div class="post-list">
{% assign en_posts = site.posts | where: "lang", "tr" %}
{% for post in en_posts limit: 6 %}
<div class="post-preview">
<a href="{{ post.url | prepend: site.baseurl }}">
<h2 class="post-title">{{ post.title }}</h2>
{% if post.subtitle %}
<h3 class="post-subtitle">{{ post.subtitle }}</h3>
{% endif %}
<div class="post-content-preview">
{{ post.content | strip_html | truncate: 300 }}
</div>
</a>
<p class="post-meta">Yay?nlanma tarihi: {{ post.date | date: "%d %B %Y" }}</p>
</div>
<hr>
{% endfor %}
</div>
</p>